.zodiac-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 4px solid #283d3b;
  color: #283d3b;
  background-color: #d6f6dd;
  border-radius: 40%;
  width: 12rem;
  height: 18rem;
  margin: 1rem 1rem;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

img {
  max-height: 100px;
  max-width: 100px;
}

p {
  text-transform: lowercase;
}
